
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>aNgular13CRUD</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h2>Welcome to Employee Management system</h2>
    
    <span class="example-spacer"></span>
    <!-- <button mat-raised-button color="warn" (click)="openDialog()">Add Employee</button> -->
    <CompanyComponent></CompanyComponent>
  </mat-toolbar>
