 mat-form-field{
    width: 100%;
} 
<br>
<br>
<br>
<br>
<br>
  .mat-elevation-z8{
    width: 1600px;
}  

/* .header {
    background-color: black;
    height: 500px;
    width: 500%;
    line: height 5px;
} */